<div>
  <div>
    <h1>
      <%= @the_day.created_at.strftime('%B %d, %Y') %> 
Details
    </h1>

    <div>
      <div>
        <a href="/this_week">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_day/<%= @the_day.id %>">
          Delete entry
        </a>
      </div>
    </div>

    <div>
  <div>
    <h2>
      Edit goals
    </h2>

    <form action="/modify_day/<%= @the_day.id %>" method="post" >
      <div>
        <label for="g1_box">
          Worked on Goal 1 today?
        </label>

        <input type="text" id="g1_box" name="query_g1_workedon" value="<%= @the_day.g1_workedon %>">
      </div>

      <div>
        <label for="g2_box">
          Worked on Goal 1 today?
        </label>

        <input type="text" id="g2_box" name="query_g2_workedon" value="<%= @the_day.g2_workedon %>">
      </div>

      <div>
        <label for="g3_box">
          Worked on Goal 1 today?
        </label>

        <input type="text" id="g3_box" name="query_g3_workedon" value="<%= @the_day.g3_workedon %>">
      </div>

      <div>
        <label for="entry_box">
          Entry
        </label>
      </label>
      <textarea id="entry" name="query_entries" rows="3"><%= @the_day.entries %></textarea>
      </div>

      <button>
        Update
      </button>
    </form>
  </div>
</div>

<hr>

    <dl>
      <dt>
        Goal 1
      </dt>
      <dd>
        <%= @the_day.g1 %>
      </dd>
      <dt>
        Worked on Goal 1 today?
      </dt>
      <dd>
        <%= @the_day.g1_workedon %>
      </dd>

      <dt>
        Goal 2
      </dt>
      <dd>
        <%= @the_day.g2 %>
      </dd>
      <dt>
        Worked on Goal 2 today?
      </dt>
      <dd>
        <%= @the_day.g2_workedon %>
      </dd>

      <dt>
        Goal 3
      </dt>
      <dd>
        <%= @the_day.g3 %>
      </dd>
      <dt>
        Worked on Goal 3 today?
      </dt>
      <dd>
        <%= @the_day.g3_workedon %>
      </dd>
      <dt>
        Entry
      </dt>
      <dd>
        <%= @the_day.entries %>
      </dd>
    </dl>
  </div>
</div>

<hr>
